body {
    margin: 0;
    font-family: 'Arima', cursive;
    ;
}

h1 {
    font-size: 70px;
    padding-left: 10%;
}

h2 {
    font-size: 50px;
}

.orange-color {
    color: brown;
}

.gray-color {
    color: gray;
}

.color {
    padding-right: 10px;
}



p {
    font-size: 25px;
    padding-left: 10%;

}

.flexi {
    display: flex;
    margin-bottom: 200px
}

.width {
    width: 50%;


}

.width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    margin-left: 10%;
    padding: 10px 30px;
    border-radius: 40px;
    background-image: linear-gradient(orange, tomato);
    color: azure;
    font-weight: 800;
}

.pic-edit img {
    width: 40%;
    margin-left: 90px;

}

.middle {
    background-image: url(images/shapes/7.png);
}