body {
    margin-left: 5px;
    font-family: 'Arima', cursive;
    ;
}

h1 {
    font-size: 70px;
    padding-left: 10%;
}

.orange-color {
    color: brown;
}

.gray-color {
    color: gray;
}



p {
    font-size: 25px;
    padding-left: 10%;
}

.top {
    display: flex;



}

.width {
    width: 50%;

}

.width img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    padding: 2% 2%;
    border-radius: 5%;
    background-image: linear-gradient(orange, tomato);
    color: azure;
    font-weight: 800;
}